<div class="mybook">
        <div class="list-group">
          <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">预约种类：A<em>|</em>预约时间：2019/3/15<em>|</em>预约对象：波记二手车平台</h4>
            <div class="ctlbtn clearfix">
              <span class="glyphicon glyphicon-indent-right contmenu" aria-hidden="true"></span>
              <div class="cannelbtn"><span class="glyphicon glyphicon-remove-circle"></span></div>
            </div>
            <p class="list-group-item-text">预约内容：向平台申请代售</p>
          </a>
          <a href="#" class="list-group-item  active">
            <h4 class="list-group-item-heading">预约种类：B<em>|</em>预约时间：2019/3/16<em>|</em>预约对象：波记二手车平台</h4>
            <div class="ctlbtn clearfix">
              <span class="glyphicon glyphicon-indent-right contmenu" aria-hidden="true"></span>
              <div class="cannelbtn"><span class="glyphicon glyphicon-remove-circle"></span></div>
            </div>
            <p class="list-group-item-text">预约内容：预约看车</p>
          </a>
          <a href="#" class="list-group-item  active">
            <h4 class="list-group-item-heading">预约种类：C<em>|</em>预约时间：2019/3/17<em>|</em>预约对象：波记二手车平台</h4>
            <div class="ctlbtn clearfix">
              <span class="glyphicon glyphicon-indent-right contmenu" aria-hidden="true"></span>
              <div class="cannelbtn"><span class="glyphicon glyphicon-remove-circle"></span></div>
            </div>
            <p class="list-group-item-text">预约内容：预约提车及付款时间</p>
          </a>
        </div>
      </div>