<form action=""  class="clearfix">
    <button type="button" class="btn btn-default f_r" aria-label="Left Align">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
      </button>
  <ul class="list-group myinfo">

 

  <li class="list-group-item">
      <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
    我的电话<input class="form-control" type="text" id="tel" value="18033417370" readonly>
  </li>
  <li class="list-group-item">
      <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
    我的密码<input class="form-control" type="text" id="pwd" value="123" readonly>
  </li>
  <li class="list-group-item">
      <span class="glyphicon glyphicon-text-background" aria-hidden="true"></span>
    真实姓氏<input class="form-control" type="text" id="name" value="波" readonly>
  </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
     性别<input class="form-control" type="text" id="sex" value="男" readonly>
    </li>
</ul>
<div class="check_btn clearfix">
<button type="button" class="btn btn-default f_r" aria-label="Left Align">
    <span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span>
  </button>
<button type="button" class="btn btn-default f_r" aria-label="Left Align">
  <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
</button>
</div>
</form>