<div class="mysellingcar">
          <ul class="myselling_carlist clearfix">
            <li class="mysellcar">
              <a href="#"><img src="./img/car1.jpg" class="mysellcar_img" alt=""></a>
              <a href="#" class="sellcar_name"><h2>大众 途观 2012款 1.8TSI 自动两驱风尚版</h2></a>
              <p class="sellcar_mile">2012年6月上牌<em>|</em>行驶5.8万公里</p>
              <p class="sellcar_price">
                <span class="price-curr">9.50万</span>
                <span class="price-through">25.40万</span>
              </p>
              <div class="sellcar_ctrl">
                <span>已下架</span>
                <button class="status_btn readyup">继续销售</button>
                <button class="changeprice_btn">修改价格</button>
              </div>
            </li>

          </ul>
          <div class="price_mask">
            <div class="changeprice_con">
              <form action="">
                <input type="text" placeholder="请输入新价格">
                <span>万</span>
                <input type="submit" value="提交">
                <input type="button" value="取消">
              </form>
            </div>
          </div>
      </div>