<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/sellcar.css">
    <script src="./js/jquery.js"></script>
    <script src="./js/sellcar.js"></script>
    <title>Document</title>
</head>
<body>
        <div class="header">
            <div class="headtop2" id="headtop2">
                <h1 class="clearmargin">
                    <a href="/index" >波记二手车</a>
                </h1>
                <div id="city">
                    <span>广州
                    <i></i>
                    </span>
                </div>
                <div id="citybox">
                    <div id="cityboxleft">
                    </div>
                    <div id=cityboxright>
                    </div>
                </div>
    
                <div class="uc">
                    <%-loginmess%>
                 </div>
                <div class="phone">
                    热线电话 400-069-6527
                </div>
                <ul class="navlist">
                    <li><a href="https://news.taoche.com/home/">二手车资讯</a></li>
                    <li><a href="javascript:;">在线客服</a></li>
                    <li>
                        <%-gujiastr%>
                        车辆评估</a></li> 
                    <li class="active"><a href="/sellcar">我要卖车</a></li>
                    <li><a href="/buycar">我要买车</a></li>
                    <li><a href="/index">首页</a></li>
                </ul>
    
        </div>

                <div class="adv clearfix">
                        <div class="sell-title">
                        </div>
                        <div class="input-group phonebook">
                                <input type="text" class="form-control" placeholder="输入您的电话">
                                <span class="input-group-btn">
                                  <button class="btn btn-default" type="button">预约卖车</button>
                                </span>
                        </div>
                </div>
            </div>
            <div class="main_content">
                    <div class="sell_bg">
                        <p class="sell_txt">波记二手车保卖</p>
                        <ul class="sell_ul">
                            <li>
                                <div class="sell_bg_img">
                                    <img src="./img/sell_bg_1.png" alt="">
                                </div>
                                <p class="sell_txt_tit">当天拿钱</p>
                                <p class="sell_txt_con">最高可得50%</br>过户得余款</p>
                            </li>
                            <li>
                                <div class="sell_bg_img">
                                    <img src="./img/sell_bg_2.png" alt="">
                                </div>
                                <p class="sell_txt_tit">快速高价</p>
                                <p class="sell_txt_con">面向全国买家</br>锁定最优价格</p>
                            </li>
                            <li>
                                <div class="sell_bg_img">
                                    <img src="./img/sell_bg_3.png" alt="">
                                </div>
                                <p class="sell_txt_tit">托管省心</p>
                                <p class="sell_txt_con">专人帮你卖车</br>每次节省3小时</p>
                            </li>
                        </ul>
                    </div>
                    <div class="sellcar_gujia">
                        <!-- <div class="left_con">
                            <img src="./img/pinggu.jpg" alt="">
                        </div> -->
                        <div class="right_con">

                            <div class="panel panel-success qupinggu"> 
                                <span>现在就去评估一下吧</span> <span class="glyphicon glyphicon-circle-arrow-right"></span>
                               <a href=""><button type="button" class="btn btn-success">在线评估</button></a> 
                            </div>
                            <div class="panel panel-warning qupinggu"> 
                                    <span>去看下我的预约信息</span> <span class="glyphicon glyphicon-circle-arrow-right"></span>
                                    <a href="#"><button type="button" class="btn btn-warning">预约查看</button></a> 
                            </div>
                        </div>
                    </div>
                    <div class="quest">
                        
                        <div class="quest_con clearfix">
                            <div class="left_con">
                                <div class="quest_tit">
                                    <p>
                                        波记问答
                                    </p>
                                </div>
                                <img src="./img/cycle_buy_bg.jpeg" alt="">
                            </div>
                            <div class="right_con">
                                <div class="quest_item">
                                    <div class="quest_item_img"></div>
                                    <div class="quest_item_con">
                                        <p class="p_quest_tit">Q1:在波记卖车有什么优势<i></i></p>
                                        <p class="p_quest_con">
                                          波记二手车网，一直秉承“没有中间商赚差价”的二手车直卖模式，将原本由中间环节层层加码产生的差价让渡给买卖双方，让买家少花钱，卖家多卖钱。同时，波记二手车有专业的售车顾问为您精准匹配优质客户，快速卖出，且全程陪同，卖车流程安全省心可靠。
                                        </p>
                                    </div>
                                </div>
                          
                          
                              <div class="quest_item">
                                  <div class="quest_item_img"></div>
                                  <div class="quest_item_con">
                                      <p class="p_quest_tit">Q2：卖车流程是怎样的？<i></i></p>
                                      <p class="p_quest_con">
                                          1、在本页填写卖车信息或拨打400-023-1529联系我们。<br>2、接受评估师专业的上门质检，定出售价。<br>3、交易专员带领买家上门看车。<br>4、达成交易协议，具备过户条件的波记二手车网提供过户服务。<br>
                                      </p>
                                  </div>
                              </div>
                         
                          
                            <div class="quest_item">
                                <div class="quest_item_img"></div>
                                <div class="quest_item_con">
                                    <p class="p_quest_tit">Q3:卖车需要准备什么？<i></i></p>
                                    <p class="p_quest_con">
                                        1、身份证；2、环保标；3、购置税本；4、行驶证；5、检字标；6、购置税发票；7、车辆登记证；8、交强险标；9、购车发票/最近一次过户发票；10、交强险单。
                                    </p>
                                </div>
                            </div>
                         
                        </div>
                    </div>
            </div>
            </div>
            <div class="footer">
                <img src="./img/footer.png" alt="">
            </div>
</body>
</html>